<ion-view title="Add Book" id="page16">
  <ion-content padding="true" class="has-header">
    <div id="addBook2-button-bar6" class="button-bar">
      <a ui-sref="menu.addBook" id="addBook2-button47" class="button button-positive  button-block button-outline">Search</a>
      <button id="addBook2-button48" class="button button-positive  button-block">Barcode</button>
      <a ui-sref="menu.addBook3" id="addBook2-button49" class="button button-positive  button-block button-outline">Manual</a>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>