<ion-view title="Confirm Generated Data" id="page19">
  <ion-content padding="true" class="has-header">

    <div class="no-results island text-center" ng-show="noBooksFound">
      <h3 class="islandBottom">Sorry, no books found</h3>
      <a href="/#/side-menu21/addbook-search" class="button button-positive button-block island">Back to search</a>
    </div>

    <div class="has-results" ng-show="booksFound">
      <form name="confirmBookForm" class="list">

        <h4>Title</h4>
        <label class="item item-input">
          <input type="text" required ng-model="generatedBookData.title" placeholder="{{generatedBookData.placeholders.title}}">
        </label>

        <h4 class="islandHalf">Author</h4>
        <label class="item item-input">
          <input type="text" required ng-model="generatedBookData.author" placeholder="{{generatedBookData.placeholders.author}}">
        </label>

        <img class="img-center islandHalf" ng-src="{{generatedBookData.thumbnailImage}}">

        <h4 class="islandHalf">Genre</h4>
        <label class="item item-input">
          <input type="text" required ng-model="generatedBookData.genre" placeholder="{{generatedBookData.placeholders.genre}}">
        </label>


        <h4 class="islandHalf">Description</h4>
        <label class="item item-input">
          <textarea type="text" required rows="5" ng-model="generatedBookData.description" placeholder="{{generatedBookData.placeholders.description}}"></textarea>>
        </label>

        <a ng-disabled="confirmBookForm.$invalid" ng-click="saveBook()" class="block islandHalf button button-positive">Confirm</a>
      </form>
    </div>

  </ion-content>
</ion-view>
