<ion-view title="Add Book" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="addBook-button-bar5" class="button-bar">
      <button id="addBook-button43" class="button button-positive  button-block">Search</button>
      <a ui-sref="menu.addBook2" id="addBook-button44" class="button button-positive  button-block button-outline">Barcode</a>
      <a ui-sref="menu.addBook3" id="addBook-button45" class="button button-positive  button-block button-outline">Manual</a>
    </div>
    <form id="addBook-form7" name="searchForm" class="list">
      <label class="item item-input" id="addBook-input28">
        <input type="text" name="bookInfoHolder" ng-model="bookInfoHolder" required placeholder="Enter Title or ISBN">
      </label>

      <h3>#DEV ISBNs</h3>
      <ul>
        <li>0735619670</li>
      </ul>

      <a ng-disabled="searchForm.$invalid" ng-click="searchBook(bookInfoHolder)" id="addBook-search-btn" class="button button-positive  button-block">Add</a>
    </form>
  </ion-content>
</ion-view>
