<ion-view title="Add Book" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="addBook3-button-bar7" class="button-bar">
      <a ui-sref="menu.addBook" id="addBook3-button51" class="button button-positive  button-block button-outline">Search</a>
      <a ui-sref="menu.addBook2" id="addBook3-button52" class="button button-positive  button-block button-outline">Barcode</a>
      <button id="addBook3-button53" class="button button-positive  button-block">Manual</button>
    </div>
    <form id="addBook3-form9" class="list">
      <label class="item item-input" id="addBook3-input30">
        <input type="text" placeholder="Title">
      </label>
    </form>
    <form id="addBook3-form10" class="list">
      <label class="item item-input" id="addBook3-input32">
        <input type="text" placeholder="Author">
      </label>
    </form>
    <form id="addBook3-form11" class="list">
      <label class="item item-input" id="addBook3-input33">
        <input type="text" placeholder="Genres">
      </label>
    </form>
    <button id="addBook3-button57" class="button button-positive  button-block button-outline">Add image</button>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="menu.addBook4" id="addBook3-button54" class="button button-positive  button-block">Add</a>
  </ion-content>
</ion-view>