<ion-view title="Add Book" id="page19">
  <ion-content padding="true" class="has-header">
    <h3 id="addBook4-heading24" style="color:#000000;text-align:center;">The new temptation</h3>
    <h4 id="addBook4-heading23" style="color:#000000;font-weight:400;text-align:center;">Sarah Blackwood</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="addBook4-heading25" style="color:#000000;">Genre: Thriller, Drama</h5>
    <div class="spacer" style="height: 10px;"></div>
    <div id="addBook4-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien purus, maximus sit amet mauris bibendum, pharetra luctus odio. Nam a arcu nisi. Fusce malesuada ullamcorper dui, quis sagittis dolor euismod vel. Sed molestie sagittis augue,
        sit amet tristique tortor accumsan vitae. </p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <button id="addBook4-button62" class="button button-positive  button-block">Submit</button>
  </ion-content>
</ion-view>