<ion-view title="Book Details" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="bookDetails-heading8" style="color:#000000;text-align:center;">Todesmärchen</h3>
    <h4 id="bookDetails-heading9" style="color:#000000;font-weight:400;text-align:center;">Andreas Gruber</h4>
    <div>
      <img src="img/VaEn55AfS61f5EhZQDG1_51i8JXFS7FL._SX332_BO1204203200_.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="bookDetails-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">In Bern wird die kunstvoll drapierte Leiche einer Frau gefunden, in deren Haut der Mörder ein geheimnisvolles Zeichen geritzt hat. Sie bleibt nicht sein einziges Opfer...</p>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <h4 id="bookDetails-heading10" style="color:#000000;font-weight:400;">4020 Linz</h4>
    <h4 id="bookDetails-heading11" style="color:#000000;font-weight:400;">Distance: 3km</h4>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="menu.genreOverview" id="bookDetails-button19" class="button button-royal  button-block">Send Request! </a>
  </ion-content>
</ion-view>