<ion-view title="Browse" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="browse-form3" class="list">
      <label class="item item-input" id="browse-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Enter Title/ISBN">
      </label>
    </form>
    <button id="browse-button10" style="font-weight:600;font-size:20px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-small button-block">New Books</button>
    <div>
      <img src="img/dhHM4HRo6eANMWKg3sfg_row1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.genreOverview" id="browse-button11" style="font-weight:600;font-size:20px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-small button-block">Thriller</a>
    <div>
      <img src="img/WzAB3TemQKOv6MGebS9h_row2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="browse-button12" style="font-weight:600;font-size:20px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-small button-block">Novel</button>
    <div>
      <img src="img/JGhuvVERvqb8YAs4Lamt_row3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>