<ion-view title="Edit Profile" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5w6Z7x7RRtKmH8xLe0cK_default_profile_image_large-e61b362fc14b3206204a64e603d7ad80.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="editProfile-button21" style="font-size:15px;border-radius:5px 5px 5px 5px;" class="button button-positive button-small button-block">Update Profile Picture...</button>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="editProfile-heading15" style="color:#000000;">General</h5>
    <form id="editProfile-form6" class="list">
      <label class="item item-input" id="editProfile-input19">
        <span class="input-label">Max Mustermann</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="editProfile-input20">
        <span class="input-label">Musterstraße 43</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="editProfile-input22">
        <span class="input-label">4020 Linz</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="editProfile-input23">
        <span class="input-label">maxmustermann@gmx.at</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h5 id="editProfile-heading14" style="color:#000000;">Change Password</h5>
    <form id="editProfile-form5" class="list">
      <label class="item item-input" id="editProfile-input16">
        <input type="text" placeholder="Current Password">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="editProfile-input17">
        <input type="text" placeholder="New Password">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="editProfile-input18">
        <input type="text" placeholder="Confirm New Password">
      </label>
    </form>
    <a ui-sref="menu.profile" id="editProfile-button22" class="button button-royal  button-block">Save Changes!</a>
  </ion-content>
</ion-view>