<ion-view title="Login" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/BC7qckrQ7igHB3uKT8kV_1492713446_Book_brochure_magazine_read.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="login-heading1" style="color:#000000;text-align:center;">ShareBook</h2>
    <div class="spacer" style="height: 20px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <input type="email" placeholder="Email/Username">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.browse" id="login-button1" class="button button-royal  button-block">Log in</a>
      <a ui-sref="signup" id="login-button2" class="button button-dark  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>