<ion-view title="My Collection" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/V1plA2PS6K82YQL9qR1A_my_books.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="myCollection-button-bar4" class="button-bar">
      <button id="myCollection-button36" style="border-radius:90px 90px 90px 90px;" class="button button-assertive  button-block icon ion-android-delete"></button>
      <button id="myCollection-button38" style="border-radius:90px 90px 90px 90px;" class="button button-assertive  button-block icon ion-android-delete"></button>
    </div>
    <div class="spacer" style="height: 170px;"></div>
    <a ui-sref="menu.addBook" id="myCollection-button39" class="button button-royal  button-block">Add Book</a>
  </ion-content>
</ion-view>