<ion-view title="Profile" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="profile-heading13" style="color:#000000;text-align:center;">Hi Max_Mustermann!</h4>
    <div>
      <img src="img/5Lrkhn3eRy2z62RKJ9Pb_default_profile_image_large-e61b362fc14b3206204a64e603d7ad80.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.editProfile" id="profile-button20" class="button button-royal  button-block">Edit Profile</a>
    <div class="spacer" style="height: 10px;"></div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>