<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <h3 id="signup-heading2" style="color:#000000;text-align:center;">Create your ShareBook account!</h3>
    <h4 id="signup-heading21" style="color:#000000;">General Information</h4>
    <form id="signup-form2" class="list">
      <label class="item item-input" id="signup-input10">
        <input type="text" placeholder="First Name">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input11">
        <input type="text" placeholder="Last Name">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input12">
        <input type="text" placeholder="Address">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input26">
        <input type="text" placeholder="Postal Code">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input27">
        <input type="text" placeholder="City">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <h4 id="signup-heading22" style="color:#000000;">Login Information</h4>
      <label class="item item-input" id="signup-input13">
        <input type="email" placeholder="E-Mail">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input24">
        <input type="text" placeholder="Username">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input14">
        <input type="password" placeholder="Password">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="signup-input15">
        <input type="password" placeholder="Confirm Password">
      </label>
      <a ui-sref="menu.browse" id="signup-button3" class="button button-royal  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>