<ion-view title="Trade Request" id="page13">
  <ion-content padding="true" class="has-header">
    <h4 id="tradeRequest-heading18" style="color:#000000;font-style:italic;text-align:center;">Request from Tom232</h4>
    <div>
      <img src="img/kgJuneM6SEOStA9BYVUa_af25490494d3338afef00869c59fdd37.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="tradeRequest-heading19" style="color:#000000;">Tom 232 wants:</h4>
    <div>
      <img src="img/0gUEScziQ1Oq786KMwIQ_letters-from-skye.jpg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="tradeRequest-heading20" style="color:#000000;">Tom 232 offers:</h4>
    <div>
      <img src="img/irok7aKRnGJtQLOk9Gk6_row_selected.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="tradeRequest-button-bar3" class="button-bar">
      <a ui-sref="menu.tradeOverview" id="tradeRequest-button27" style="border-radius:90px 90px 90px 90px;" class="button button-royal  button-block icon ion-android-close"></a>
      <button id="tradeRequest-button31" style="border-radius:92px 92px 92px 92px;" class="button button-royal  button-block icon ion-android-done"></button>
    </div>
  </ion-content>
</ion-view>