<ion-view title="Trade Overview" id="page11">
  <ion-content padding="true" class="has-header">
    <h4 id="tradeOverview-heading16" style="color:#000000;">Trade Requests</h4>
    <ion-list id="tradeOverview-list10">
      <ion-item class="item-avatar" id="tradeOverview-list-item10" ui-sref="menu.tradeRequest">
        <img src="img/zLlPOx2OTaacCnUy7B7I_af25490494d3338afef00869c59fdd37.png">
        <h2>Request from Tom232</h2>
        <p>20.04.2017 - 10:23 AM</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="tradeOverview-list11">
      <ion-item class="item-avatar" id="tradeOverview-list-item9">
        <img src="img/R9phYf3nRPKXmMDzFJU3_default_male300x300-aae6ae0235b6cd78cee8df7ae19f6085.png">
        <h2>Request from M_34</h2>
        <p>19.04.2017 - 08:12 PM</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="tradeOverview-heading17" style="color:#000000;">My Requests</h4>
    <div id="tradeOverview-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You have no unanswered requests. </p>
    </div>
  </ion-content>
</ion-view>