<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let genre of booksOverview" no-lines>
    <p>{{genre.title}}</p>
    <ion-list *ngFor="let books of genre.books" no-lines>
      <ion-item>
          <ion-img title="{{books.title}}" width="128" height="128" src="{{books.miniature}}"></ion-img>
        </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
